body{
    font-family: sans-serif;
}

.navbar{   
    background-color: #ff8888;
    background-image: linear-gradient(315deg, #ffdfdf 0%, #7e0505 74%);
    padding:0 !important;
}

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
/* the color of the three lines */
color: #fff;
font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/* ************header section *****************/
/* #banner{
    background-image: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    color: blue;
    padding-top: 5%;
}
.promo{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px; 
} */
header{
   /*Sizing of the element*/
   height: 600px;
   width:100%;
   /*Set and adjust background image*/
   /* background-image: url("https://ak.picdn.net/shutterstock/videos/1040092985/thumb/1.jpg"); */
   /* background-image: url('images/board.jpg') */
   background-size: cover;
   opacity: 0.9;
   /*Text properties for itself and all children elements*/
   color: white;
   text-align: center;
   font-family: 'Blinker', sans-serif;
}
header p {
   /* Add the font-style property here*/
    font-style: italic;
}

#login {
    text-align: center;
}

#recipes_container {
    padding: 10px;
    border-radius: 10px;
}


/****************** Mission Section *******************/
#mission{
    padding: 0;
}
.mission-img{
    width: 100px;
    margin-top: 20px;
}
.mission{
    padding: 20px;
}
.mission h4{
    padding: 5px;
    margin-top: 25px;
}
.title::before{
    content:"";
    background: 
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(36px);
}
.title::after{
    content:"";
    background: 
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
/********************* About Us ******************/
#about-us{
    background: #F8F9FA;
    padding-bottom: 50px;
    padding-top: 50px;
}
/****************** Social Media *******************/
#social-media{
    background: #F8F9FA;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px)
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/**************************************** Footer ***************************************/
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #002147;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}
.footer a {
	color: white;
  font-weight: lighter;
}

.footer p {
	color: white;
  font-weight: lighter;
  font-size: 
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

}
.footer a {
	color: #78828D
}

.footer-bottom {
  margin-top: 2em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}

