body{
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
}

/* recipes and user_favorites page */
.pinkBackground {
    background: #ff8888;
    align-content: center;
}

#login_result {
    background: #ffedc9;
}

.navbar{   
    background-color: #ff8888;
    padding:0 !important;
}

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
/* the color of the three lines */
color: #fff;
font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/* ************header section *****************/
/* #banner{
    background-image: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    color: blue;
    padding-top: 5%;
}
.promo{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px; 
} */
header{
   /*Sizing of the element*/
   height: 600px;
   width:100%;
   background-size: cover;
   opacity: 0.9;
   /*Text properties for itself and all children elements*/
   color: white;
   text-align: center;
   font-family: 'Blinker', sans-serif;
}


/****************** Mission Section *******************/
#mission{
    padding: 0;
}
.mission-img{
    width: 100px;
    margin-top: 20px;
}
.mission{
    padding: 20px;
}
.mission h4{
    padding: 5px;
    margin-top: 25px;
}
/* .title::before{
    content:"";
    background: #74eb34;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(36px);
} */
/* .title::after{
    content:"";
    background: #74eb34;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
} */
/********************* About Us ******************/
#about-us{
    background: #F8F9FA;
    padding-bottom: 50px;
    padding-top: 50px;
}
/****************** Social Media *******************/
#social-media{
    background: #F8F9FA;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px)
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.1;
}

/**************************************** Footer ***************************************/


