<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type = 'text/css' href="../static/style.css">
    </head>
    <body>
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src=""/>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#social-media">CONTACT</a>
                    </li>
                    {%if session%}
                        <li class="nav-item">
                            <a class="nav-link" href="/user_favorites" method = 'POST'>FAVORITES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOG OUT</a>
                        </li>
                    {%endif%}
                    {%if not session%}
                        <li class="nav-item">
                            <a class="nav-link" href="#login">LOG IN</a>
                        </li>
                    {%endif%}
                    </ul>
                </div>
            </nav>
        </section>

        <!---------------- Mission section ---------------------->
        <section id="mission">
            <div class="container-flush text-center">
                
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <h1 class="title">Our Mission</h1>
                    <div class="container">
                        <div class="row">
                            <h4>
                                Food brings us together. At YASMAR NODROG, we believe strongly in easy to access recipes and resources that will provide you with everything
                                you need to make your next food gathering unforgettable. To get started, enter a key ingredient or dish below. If you haven't already, we encourage
                                you to create an account and log on, where you will be able to add to a custom collection of your favorite dishes!
                            </h4>
                        </div>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img class="d-block w-100" src="../static/images/foodImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100" src="../static/images/foodImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100" src="../static/images/foodImage3.jpg" alt="Third slide">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </br></br>
        <header class="d-flex align-items-center" style="background-image: url('../static/images/board.jpg')">
            <div class="container">
                <h1>YASMAR NODROG</h1>
                <p>Cooking has never been easier than before. Search for recipes by dish name or search for dishes by ingredient name!</p>
                <div class = "container">
                    <form method = 'POST' action = '/recipes'>
                        <input class="form-control form-control-lg" type = 'text' name = 'foodQ'>
                        <input class = "btn btn-danger" type = 'submit' value = 'Submit'>
                    </form>
                </div>


            </div>
        </header>

        <!-- -------------------------- About Us ------------------ -->
        <section id="about-us">
            <div class="container">
            <h1 class="title text-center">About Us</h1>
                <div class="row"> 
                    <div class="col-md-6 align-self-center about-us">
                        <h2>Cooking can be difficult.</h2>
                        <h2>But it doesn't have to be.</h2>
                        <h2>Learn to cook with no other culinary chef than Gordon Ramsay</h3>
                        <a class="btn btn-danger mb-3" href="https://www.masterclass.com/classes/gordon-ramsay-teaches-cooking" role="button">Gordon Ramsay's Master Class</a>
                    </div>
                    <div class="col-md-6 about-us">
                        <img src="../static/images/ramsay.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>


        <!-------------- Social media -------------------->
        <section id="social-media">
            <div class="container text-center"> 
            <p>FIND US ON SOCIAL MEDIA</p>
                <div class="social-icons">
                <a class="btn-floating btn-lg btn-fb" type="button" role="button" href="#"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-facebook-4.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-instagram-14.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-twitter-4.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-snapchat-4.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-linkedin-4.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                <a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-whatsapp-4.png&r=255&g=48&b=48" alt="Italian Trulli"></a>
                </div>
            </div>
        </section>

        <!--------------------------------- Footer -------------------------------------------->
        <footer class="page-footer font-small special-color-dark pt-4 container text-center">
            <!-- Footer Elements -->
            <div class="container">
                    <!--Grid column-->
                    {%if not session%}
                        <div class="col container text-center"> <!-- col-md-6 mb-4 -->
                                <div id = 'login'>
                                    <form method ="POST" action="/loginsignup">
                                        <label for="username">Username:</label>
                                        <input class='form-control form-control-sm' type="text" name="username" value="">
                                        </br>
                                        <label for="password">Password:</label>
                                        <input class='form-control form-control-sm' type="password" name="password" value="">
                                        </br>
                                        <input class = "btn btn-secondary" type="submit" value="Log In">
                                    </form>
                                </div>
                        </div>
                    {%endif%}
                    <!--Grid column-->
                    <!--Grid column-->
                    {%if session%}
                    <div class="col container center"> 
                        <h3> Sign up for our Email list!!!!</h3>
                        <form method = "POST" action = "/successSignUp">
                            <div>
                                <input type="email" name = "user_email" class="form-control" aria-label="Your email">
                                <button type="submit" class="btn btn-danger mt-3">Submit</button>
                            </div>
                        </form>
                    </div>
                    {%endif%}
                
            <!--Grid row-->
            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="/index"> YASMAR NODROG</a>
            </div>
            <!-- Copyright -->
            </footer>
        <!-- Footer -->

    </body>
</html>
