<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipes Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body class="greenBackground">
        <div class="container" "recipes_container">
            <h1>Recipes Page</h1>
            <div>
                <div class="container d-flex justify-content-center">
                    <div class="row">
                        {%for dish in list_dishes%}
                                    <div class="card" style="width: 15rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Dish: {{dish['title']}}</h5>
                                            <p class="card-text">Prep Time: {{dish['readyInMinutes']}} minutes</p>
                                            <p class="card-text">Number of Servings: {{dish['servings']}}</p>
                                            <p class="card-text"><img src = "https://spoonacular.com/recipeImages/{{dish['image']}}" width="100%" alt = "image of {{dish['title']}}"></p>
                                            <a href = "{{dish['sourceUrl']}}" class="btn btn-danger">Learn More</a>
                                            <form action = '/user_favorites' method='POST'>
                                                <input type = "hidden" name = 'dishID' value="{{dish['id']}}">
                                                <button class="btn btn-primary" href = "user_favorites.html" type = "submit">Add to favorites</button>
                                            </form>
                                        </div>
                                    </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </body>
</html>